* {
  -webkit-user-select: none;
}

body {
  background-image: url('images/htmlbg.png')
}

.files {
  padding: 0;
  margin: 0;
}

.file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.file .name {
  width: 80px;
  word-wrap: break-word;
}

.file.focus .name {
  color: white;
}

.file .icon {
  margin: auto;
  margin-top: 0;
  width: 60px;
}
.file .icon img{
  width:100%;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}
/*for file-big*/
.file-big {
  padding: 8px;
  margin: 8px;
  width: 250px;
  display: inline-block;
  text-align: left;
}
.file-big p {
  margin-bottom: 0px;
}
.file-big .prop {
  width: 240px;
  word-wrap: break-word;
}

.file-big .icon-big {
  margin: 4px;
  margin-top: 0;
  width: 100px;
  float: left;
}
.file-big .icon-big img{
  width:100%;
}

.file-big.focus .icon-big {
  -webkit-filter: invert(20%);
}
/*****modify for bootstrap-3.1.1*****/
.breadcrumb .active a {
  color: #333333;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
/*****add later by wangyu*****/

/*****add later by xifei*****/
#frontend .row {
    background: #FFF;
    -webkit-border-radius: 2px;
    margin-bottom: 8px;
    line-height:1;
}

#sidebar {
    padding: 9px;
}
#qrcode {
    display: inline-block;
    float: right;
    color:black;
    padding: 0px;
    margin: 2px;
    font-size: 30px;
}
#main{
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    font-size: 13px;
}
#main .breadcrumb {
  margin-bottom: 0px;
}

#addressbar {
  display: inline-block;
}

#div-setting {
    background: none;
}

#liststyle {
    width: 30%;
}
#liststyle .ui-slider-range {
    background: #08c;
}
#liststyle .ui-slider-handle {
    border-color: #08c; 
}

a {
    color: #0088cc;
}
.glyphicon {
    color: black;
}
.nav .nav-header {
   /* display: block;
padding: 3px 15px;*/
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav-list {
/*  padding-right: 8px;
  padding-left: 8px;
  */
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
/*
  margin-right: -9px;
  margin-left: -9px;
  */
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list  li  a {
  padding: 3px 9px;
}

.nav-list  .active  a,
.nav-list  .active  a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="glyphicon-"] {
  margin-right: 6px;
}

.nav-list .divider {
  *width: 100%;
  height: 2px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  color: #333333;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  display: list-item;
  text-align: -webkit-match-parent;
}

.panel .table tbody th {
    font-weight: normal;
}
/*.panel .table a,*/
.panel .table tr:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
  text-decoration: none;
  cursor: pointer;
}
/*
.show-grid {
    border: 1px red solid;
}
.show-grid div,ul{
    border: 1px red solid;
}
*/
/*
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*/
/*border-box*/

