#contact-container{
  padding: 10px;
}
#contact-left{
  width: 40%;
  height: 450px;
  border: 1px solid #c0c0c0;
  overflow-x: hidden;
  overflow-y: auto;
}
.p-family{
  color: #16ead3;
  font-size: 15px;
  font-weight: bold;
  padding: 4px;
  border-bottom: 1px solid #ee5455;
}
.p-name{
  color: #c0c0c0;
}
