#container{
  #contentDiv{
    #choice {
      position: relative;
      width: 100%;
      height: 50px;
      border: 1px solid #0f0;
    }
    #showContent {
      top: 50px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      border: 1px solid #f00;
      .returnContent {
        .selected {
          background-color:#08c;
        }
        .outContainerWaterFall {
          width:188px; 
          min-height:100px; 
          padding: 15px; 
          margin:8px; 
          font-size:12px; 
          float:left; 
          cursor: pointer; 
          box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); 
          -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); 
          -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
          -webkit-transition: top 1s ease, left 1s ease;
          -moz-transition: top 1s ease, left 1s ease; 
          -o-transition: top 1s ease, left 1s ease;
          -ms-transition: top 1s ease, left 1s ease; 
          &:hover {
            -webkit-filter: brightness(1.2);
            -moz-filter: brightness(1.2);
            -ms-filter: brightness(1.2);
            filter: brightness(1.2);
          }
          .HolderWaterFall img{
            max-width:100%; 
            background:#ccc; 
            display:block; 
          }
          .HolderWaterFall video{
            max-width:100%; 
            background:#ccc; 
            display:block; 
          }
          .descriptionWaterFall {
            text-align:center; 
            color:#777; 
          }
        }
      }
      .selected {
        background-color:#08c;
      }
      .sortByTime {
        border: 1px solid #ff0;
        width: 100%;
        display: inline-block;
        .selected {
          background-color:#08c;
        }
        .outContainer {
          width:188px;
          height:188px; 
          padding:auto; 
          margin:30px; 
          font-size:12px;
          display:inline; 
          float:left;
          vertical-align:center;
          cursor: pointer; 
          &:hover {
            -webkit-filter: brightness(1.2);
            -moz-filter: brightness(1.2);
            -ms-filter: brightness(1.2);
            filter: brightness(1.2);
          }
          .Holder img{
            max-width:100%;
            max-height:100%;
            background:#ccc;
            display:block;
          }
          .Holder video{
            max-width:100%;
            max-height:100%;
            background:#ccc;
            display:block;
          }
          .description {
            text-align:center;
            font-weight:normal;
            width:150px;
            font-size:12px;
            margin:10px 5px 10px 5px;
          }
        } 
      }
      .outContainer {
        width:188px;
        height:188px; 
        padding:auto; 
        margin:30px; 
        font-size:12px; 
        float:left;
        vertical-align:center;
        cursor: pointer; 
        &:hover {
          -webkit-filter: brightness(1.2);
          -moz-filter: brightness(1.2);
          -ms-filter: brightness(1.2);
          filter: brightness(1.2);
        }
        .Holder img{
          max-width:100%;
          max-height:100%;
          background:#ccc;
          display:block;
        }
        .Holder video{
          max-width:100%;
          max-height:100%;
          background:#ccc;
          display:block;
        }
        .description {
          text-align:center;
          font-weight:normal;
          width:150px;
          font-size:12px;
          margin:10px 5px 10px 5px;
        }
      }
      .fileContainer {
        padding:2px;
        margin:2px;
        width:80px;
        display:inline-block;
        text-align:center;
        vertical-align:top;
        cursor: pointer;
        .iconContainer {
          margin:auto;
          margin-top:0;
          width:60px;
        }
        .iconContainer img{
          width:100%;
        }
        .name {
          width:80px;
          word-wrap:break-word;
        }
      }
      .tableContainer{
        .table tbody th{
          font-weight:normal;
        }
        .table tr:hover {
          color:#ff0000;
          text-shadow:0 -1px 0 rgba(0,0,0,0.2);
          text-decoration:none;
          cursor:pointer;
        }
      }
    }
  }
}