@-webkit-keyframes fadeInOut{
    0%{
      width: 0%;
      padding-bottom:0%; 
    }
    100%{
      width: 25%;
      padding-bottom: 25%;
    }
}

#container{
  #contentDiv{
    #choice {
      position: relative;
      width: 100%;
      height: 30px;
      #showlistButton {
        margin-left: 20px;
        height: 24px;
        float: left;
      }
      #_shownormalButton{
        height: 24px;
        float: left;
      }
      .showlistButton:after, .shownormalButton:after{
        font-family: 'icomoon';
        content: "\e604";
        float: left;
        color:#b6b6b6;
        height: 20px;
        cursor: pointer;
        font-size: 0.9em;
      }
      #showlistButton:hover, #_shownormalButton:hover{
        cursor: pointer;
      }
      .shownormalButton:after{
        content: "\e603";
      }
      .showlistButtonFocus:after, .normalButtonFocus:after{
        color: #2e3d44;
      }
      .normalButtonFocus:after{
        font-family: 'icomoon';
        content: "\e603";
      }
      #sortbyButton{
        float: right;
        margin-right: 14px;
        color: #b6b6b6;
        font-size: 0.9em;
      }
      #line{
        width: 1px;
        height: 21px;
        background-color: #b6b6b6;
        opacity: 0.6;
        float: left;
        margin: 0px 10px; 
      }
    }
    #showContent {
      top: 24px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      margin-top: 15px;
      overflow-x: hidden;
      .scroll();
      #outWaterFall{
        margin-left: 13px;
        position: relative;
        overflow-x: hidden;
      }
      .pictureContainerWaterFall {
        width: 100%;
        font-size:12px; 
        float:left; 
        cursor: pointer; 
        background-color:white;
        .radius(3px);
        box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2); 
        -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2); 
        -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
        -webkit-transition: top 1s ease, left 1s ease;
        -moz-transition: top 1s ease, left 1s ease; 
        -o-transition: top 1s ease, left 1s ease;
        -ms-transition: top 1s ease, left 1s ease; 
        &:hover {
          box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        }
        &:focus{
          outline: none;
        }
        &:focus:after{
          content: "";
          position: absolute;
          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMzAgMzAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMwIDMwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yNiwzMEgwTDMwLDB2MjZDMzAsMjguMiwyOC4yLDMwLDI2LDMweiIvPg0KCTxwb2x5Z29uIGZpbGw9IiNFREVGRUYiIHBvaW50cz0iMCwzMCAwLDAgMzAsMCAJIi8+DQo8L2c+DQo8L3N2Zz4NCg==);
          top: 0px;
          left: 0px;
          box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
          border-bottom-right-radius: 10%;
          -webkit-animation-name: fadeInOut;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count:1;
          -webkit-animation-duration:0.7s;
          -webkit-animation-direction: alternate;
          -webkit-animation-fill-mode: forwards;
        }
        .pictureHolderWaterFall img{
          width:100%;
          background:#fff; 
          //display:block; 
          padding-bottom: 17%;
          .radius(4px);
          &:hover{
            //z-index: 1;
            -webkit-filter: brightness(1.1);
            -moz-filter: brightness(1.1);
            -ms-filter: brightness(1.1);
            filter: brightness(1.1);
          }
          /*&:focus{
            box-shadow: 0px 0px 4px 1px #64bc88 inset;
            outline: none;
          }*/
        }
        .picturedescriptionWaterFall {
          color:#706f6f; 
          //height:40px;
          position: absolute;
          margin: 0px;
          margin-left: 15px;
          overflow: hidden;
          text-overflow:ellipsis;
          //width: 90%;
          bottom: 5px;
        }
      }


      .sortByTime {
        border-top: 1px solid #cecece;
        width: 100%;
        display: inline-block;
        position: relative;
        padding-top: 40px;
        span {
          position: absolute;
          top: 8px;
          left: 12px;
          font-size: 13px;
          color: #b5b5b5;
        }
      }
      #musicContentSortByTime{
        overflow-x: hidden;
      }
      .musicContainer {
        height:165px; 
        padding:auto; 
        font-size:12px; 
        float:left;
        position: relative;
        vertical-align:center;
        cursor: pointer; 
        padding-bottom: 60px;
        position: relative;
        color: #706f6f;
        //overflow: auto;
        &:hover {
          -webkit-filter: brightness(1.2);
          -moz-filter: brightness(1.2);
          -ms-filter: brightness(1.2);
          filter: brightness(1.2);
        }


        .musicHolder {

          position: relative;
          img{
            width:107px;
            height:107px;
            background:#ccc;
            display:block;
            position: relative;
            z-index: 3;
          }
          .tagHolder{
            width: 125px;
            height:125px;
            position: absolute;
            top:0;
            left:0;
          }
        }
        &:after {
          content: "";
          width: 95px;
          height: 95px;
          //border-radius: 50%;
          .radius(50%);
          background-color: rgba(45, 60, 67, 0.1);
          position: absolute;
          right: 4px;
          top:7px;
        }
        &:before {
          content: "";
          width: 24px;
          height: 24px;
          border-radius: 50%;
          .radius(50%);
          background-color: #edefef;
          position: absolute;
          right: 41px;
          top:41px;
          z-index: 2;
        }
        .musicdescription {
          //text-align: center;
          font-weight:normal;
          font-size:12px;
          margin:10px 5px 10px 5px;
        }
      }
      .videoContent {
        .scroll();
        padding-bottom: 100px;
        .videoContainer {
          position: relative;
          height: 0;
          font-size:12px; 
          float:left;
          cursor: pointer; 
          &:hover {
            background-color: rgba(167,167,167,0.2);
            .radius(3px);
          }
          &:focus{
            background-color: rgba(167,167,167,0.3);
            outline: none;
            .radius(3px);
          }
          .videoHolder{
            width: 100%;
            height: 80%;
            overflow: hidden;
            position: relative;
            //border-radius: 3px;
            .radius(3px);
            padding-bottom: 55%;
          }
          .videoHolder img{
            width:100%;
            background:#ccc;
            display:block;
          }
          .videodescription {
            text-align:center;
            font-weight:normal;
            width:100%;
            font-size:12px;
            margin-top: 4%;
            color: #64717f;
          }
        }
      }
      .pictureContainer {
        position: relative;
        //width:20%;
        //height:105px; 
        //margin:15px; 
        font-size:12px; 
        float:left;
        cursor: pointer; 
        padding-bottom: 20px;
        padding-top: 8px;
        .radius(3px);
        &:hover {
          z-index: 1;
          background-color: rgba(169, 169, 169, 0.2);
        }
        .pictureHolder img{
          max-width: 100%;
          max-height: 100%;
          background: #ccc;
          display: block;
          margin: 0 auto;
          &:hover{
            box-shadow: 0px 0px 3px white;
          }
        }
        .picturedescription {
          text-align: center;
          color:#64717f;
          font-weight: normal;
          font-size: 12px;
          margin: 0 auto;
          margin-top: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow:ellipsis;
        }
      }
      .tableContainer{
        position: relative;
        table-layout: fixed;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
        font-weight: normal;
        .returnTableHead{
          position: absolute;
          width: 100%;
          height:100%;
          left: 0px;
          top:0px;
        }
        .returnTableBody{
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 32px;
          overflow-y: scroll;
          overflow-x: hidden;
          padding-bottom: 200px;
          .scroll();
        }
        thead {
          line-height: 28px;
          //display: block;
          width: 100%;
        }
        .theadtr th{
            font-weight: normal;
            text-align: left;
            font-size: 13px;
            background-color: #f6f6f6;
            border-top: 1px solid #c6c6c6;
            border-bottom: 1px solid #c6c6c6;
            position: relative;
            height: 15px;
            padding-left: 10px;
            color: #706f6f;
            &:before{
              content: "";
              position: absolute;
              width: 1px;
              height: 16px;
              background-color: #c6c6c6;
              left: -1px;
              top: 7px;
              z-index: 12;
            }
            &:first-child{
              width: 37%;
              min-width: 250px; 
            }
            &:nth-child(2){
              width: 28%;
            }
            &:nth-child(3){
              width: 10%;
            }
            &:nth-child(4){
              width: 25%;
            }
          }
        tbody {
          text-height: 50px;
          font-weight: normal;
          font-size: 12px;
          text-align: left;
          img{
            width: 15px;
            left: 10px;
            padding-top: 3px;
            position: absolute;
          }
          p{
            display: block;
            padding: 0px;
            margin-top: -20px;
            float: left;
            font-size: 12px;
            position: absolute;
            left: 30px;
          }
          tr{
            cursor: default;
            &:focus{
              //background-color: rgba(45, 60, 67, 1);
              color: white;
              border: none;
              outline: none;
            }
            &:nth-child(odd){
            background-color: rgba(255, 255, 255, 0.5);
              &:focus{
                background-color: #d8d8d8;
              }
            }
          }
          th{
            padding-left: 10px;
            line-height: 20px;
            font-weight: lighter;
            &:first-child{
              width: 37%;
              min-width: 250px;
              color:rgba(45, 60, 67, 1)
            }
            &:nth-child(2){
              width: 28%;
              color: #9d9d9c;
              &:focus{
                color: white;
              }
            }
            &:nth-child(3){
              width: 10%;
              color: #9d9d9c;
              &:focus{
                color: white;
              }
            }
            &:nth-child(4){
              width: 25%;
              color: #9d9d9c;
              &:focus{
                color: white;
              }
            }
          }

          .selected {
            background-color: #d8d8d8;
            color:white;
          }
        }
      }
    }
  }
}