#container{
  #contentDiv{
    #music-container{
      position: absolute;
      bottom: 0px;
      height:161px;
      width:121px;
      #music-content{
        position: absolute;
        width: 100%;
        top: 0px;
        bottom: 40px;
        border: 1px solid rgba(0,0,0,0);
        &:after{
          font-family: 'icomoon';
          content: "\e61f";
          position: absolute;
          color:white;
          opacity: 0.5;
          font-size: 10em;
          box-shadow: 0px 2px 1px rgba(209,209,209,0.85);
          top:-40px;
          left: -18px;
          height: 158px;
          width: 14px;
          color: rgba(255,255,255,0.8);
          overflow: hidden;
        }
        &:before{
          content: "";
          width: 18px;
          height: 120px;
          position: absolute;
          background-color: #b2b2b2;
          top:0px;
          left: -18px;
          box-shadow: 0px 2px 1px rgba(209,209,209,0.85);
        }
        .banner{
          line-height:44px;
          background-color: #e2e2e2;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border: 1px solid #e2e2e2;
          border-left: none;
          box-shadow: 0px 0px 0px 1px #fff, 0px 1px 1px 1px rgba(0,0,0,0.1);
        }
        .banner ul li{
          min-height: 111px;
          border-radius: 50%;
          padding: 0px;
          //background-size: 150px 150px;
          background-size: cover;
          background-position: center;
          position: relative;
          border:7px solid #e2e2e2;
          overflow: hidden;
          -webkit-box-shadow: 0px 0px 4px rgba(255,255,255,1) inset;
          img {
            position:absolute;
            width:100%;
            height:103px;
            left:0;
            top:0;
          }
          &:after {
            content: "";
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: absolute;
            background-color: #e2e2e2;
            margin-top: 40px;
            left: 50%;
            margin-left: -12px;
            box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4) inset;
            z-index: 5;
          }
          &:before {
            content: "";
            width: 26px;
            height: 26px;
            position: absolute;
            background-color: transparent;
            border: 4px solid rgba(0,0,0,0.3);
            border-radius: 50%;
            left:50%;
            margin-left: -17px;
            margin-top: 35px;
            box-shadow: none;
            z-index: 5;
          }

          span {
            font-size: 10px;
            color:white;
            z-index: 5;
            width: 120px;
            position: absolute;
            left: 50%;
            margin-left: -60px;
            text-shadow:0px 0px 6px 6px black;
            overflow: hidden;
          }
        }
      }
      #music-button-content{
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 40px;
        border: 1px solid rgba(0,0,0,0);
        a {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
          top:10px;
          font-size: 20px;
          cursor: pointer;
          &.music-left-btn{
            left:50%;
            margin-left: -24px;
          }
          &.music-middle-btn{
            left: 50%;
            margin-left: -8px;
          }
          &.music-right-btn{
            left: 50%;
            margin-left: 8px;
          }
          &.active{
            background-color: #2e3d44;
            opacity: 0.5;
          }
        }
      }
    }
  }
}