#container{
  #contentDiv{
    #doc-container{
      position: absolute;
      top: 7px;
      left: 31px;
      bottom: 202px;
      border: 1px solid #d6d6d6;
      border-radius: 3px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0px 1px 1px rgba(209,209,209,0.85);
      //box-shadow: 0px 0px 3px rgba(255,255,255,0.6) inset;
      &:after{
        content: "";
        width: 100%;
        height: 10px;
        background: -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,0)),to(#fff));
        position: absolute;
        bottom: 0px;
      }
      #doc-title-content{
        position: relative;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid rgba(229,229,229,0.75);
        #doc-title-tag{
          position: absolute;
          left: 0px;
          height: 14px;
          width: 3px;
          top:12px;
          background: #e24444;
        }
        #doc-title-text{
          position: absolute;
          left: 13px;
          top: 8px;
          font-size: 17px;
          color: #919191;
          font-weight: bold;
          letter-spacing: 1px;
        }
        #doc-select-div{
          position: absolute;
          top: 9px;
          right: 0px;
          width: 230px;
          height: 20px;
          border: 1px solid rgba(0,0,0,0);
          font-size: 10px;
          color: grey;
          //display: none;
          .doc-select{
            margin-left: 10px;
          }
          label{
            display: inline;
          }
          .select-text{
            font-size: 11px;
            font-weight: normal;
          }
          .regular-checkbox{
            display: none;
          }
          .regular-checkbox + label {
            background-color: #fff;
            border: 1px solid #ff8383;
            width: 13px;
            height: 13px;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            margin-left: 15px;
            margin-right: 8px;
            top: 3px;
          }
          .regular-checkbox:checked + label {
            //order: 1px solid #dadada;f
            color: #ff9292;
          }
        }

      }
      #doc-content{
        position: absolute;
        .scroll();
        top:40px;
        bottom: 0px;
        width: 100%;
        border: 1px solid rgba(0,0,0,0);
      }
    }
  }
}

.doc-icon {
  //width: 18%;
  height: 87px;
  margin: 10px 4px 0px;
  outline: none;
  float: left;
  position: relative;
  border :1px solid rgba(0,0,0,0);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  cursor: pointer;
  &:hover {
  -webkit-filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  -ms-filter: brightness(1.2);
  filter: brightness(1.2);
  }

  img {
    width: 28px;
    z-index: 98;
  }

  p {
    width: 100%;
    height: 30px;
    margin: 2px 0px;
    font-size: 9px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 99;
    border: 1px solid rgba(0,0,0,0);
    
    &:hover {
      cursor: default;
    }
  }

  &:focus {
    outline: black auto 5px;
    background-clip: content-box;
    background-color: #A9A9A9;
    opacity: 0.5;
    p {
      background-clip: content-box;
      background-color: #A9A9A9;
      opacity: 0.5;
    }
  }
}