#container{
  #contentDiv{
    #pic-container{
      position: absolute;
      bottom: 10px;
      width: 224px;
      height: 240px;
      border: 1px solid rgba(0,0,0,0);
      .pic-content-bj-01,.pic-content-bj-02{
        width: 185px;
        background-color: #fff;
        box-shadow: 0px 1px 1px rgba(209,209,209,0.85);
        border: 1px solid #ccc;
        border-radius: 3px;
        position: absolute;
        top: 10px;
        left: 16px;
        z-index: 2;
      }
      .pic-content-bj-02{
        z-index: 1;
        left: 17px;
      }
      .pic-content{
        background-color: #fff;
        box-shadow: 0px 1px 1px rgba(229,229,229,0.75);
        border-radius: 3px;
        margin-top: 10px;
        margin-left: 15px;
        position: relative;
        width: 185px;
        border: 1px solid #ccc;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        z-index: 3;
        .pic-size{
          width: 160px;
          margin-top: 8px;
          text-align: center;
          overflow: hidden;
          background-size: cover;
          background-position: center;
        }
        .pic-btm-content{
          width: 89%;
          height:24px;
          margin-top: 5px;
          border: 1px solid rgba(0,0,0,0);
          font-weight: normal;
          color: #706f6f;
          .pic-text{
            .select(none);
            float: left;
            font-size: 12px;
            width:70px;
            height:18px;
            overflow: hidden;
            text-overflow:ellipsis;
          }
          .pic-date{
            .select(none);
            float: right;
            font-size: 12px;
          }
        }
      }
    }
  }
}