#container{
  #contentDiv{
    #contacts-container{
      position: absolute;
      width:230px;
      bottom: 40px;
      border: 1px solid #CDC9C9;
      background:#FFFFFF;
      border-radius:3px;
      box-shadow: 0px 1px 1px rgba(209,209,209,0.85);
      #contacts-title-content{
        position: relative;
        width: 100%;
        height: 50px;
        border: 1px;
        border: #FFC1C1;
        #contacts-title-tag{
          position: absolute;
          left: 0px;
          height: 20px;
          width: 5px;
          top:15px;
          background:#FFAEB9;
         }
        #title-button{
          color: #00BFFF;
          position: absolute;
          top: 13px;
          right: 28px;
          width: 10px;
          height:10px;
          font-size: 16px;
          font-family: 'FontAwesome';
        }    
        #contacts-title-text{
          position: absolute;
          left: 23px;
          top: 3px;
          color: #00BFFF;
          font-weight: bold;
          font-size:20px;
          line-height:50px;
          letter-spacing: 1px;
         }
      }
      #contacts-content{
        position: absolute;
        top:50px;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid #FFC1C1;
        #contacts-list-content{
          color: #64717f;
          position: absolute;
          padding: 0;
          width: 100%;
          height:100%;
          margin:0px;
          .scroll;
          &.contact{
            background: rgba(50, 0, 0, 0.5);
          }
          .contacts-list{
            height:35px;
            position: relative;
            border-bottom:1px solid #EDEDED;
            &:nth-child(even){
              background: rgba(224, 224, 224, 0.05);
            }
            &:hover{
              background: #f2f9f8;
              //border-bottom: 1px solid #f3fffe;
              #email-button{
                font-family: 'FontAwesome';
                color: #00BFFF;
                font-size: 13px;
              }
              .contacts-list-title{
                position:relative;
                color: #00BFFF;
                top:8px;
                left:20px;
                font-size: 13px;
                cursor: pointer;
              }
            }
           .contacts-list-title{
             position:relative;
             top:8px;
             left:20px;
             font-size: 13px;
            }
            .contacts-list-date{
              position:absolute;
              right:15px;
              top:8px;
              color: #9aa4af;
              font-size: 14px;
             }
          }
          #email-button{
           position:absolute;
           right:25px;
           top:6px;
           font-size:13px;
           color: transparent;
          }
        }
      }
    }
  }
}