.scroll(){
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
      width: 1px; 
    }
    &::-webkit-scrollbar-thumb{
      background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb{
      background: rgba(45, 60, 67, 0.6);;
    }
}

.select(@sel) {
  -webkit-user-select: @sel;
  -moz-user-select: @sel;
  -o-user-select:@sel;
  user-select:@sel;
}

.rotate(@rotate){
  -moz-transform:rotate(@rotate); 
  -webkit-transform:rotate(@rotate);
  transform:rotate(@rotate);
}

.transition(...){
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}


// [radius: 设置圆角]
//  {[px]} 四个参数分别为四个圆角的大小参数，默认为6px
.radius(@topLeft:6px,...){
  -webkit-border-radius: @arguments;
  -moz-border-radius: @arguments;
  -ms-border-radius: @arguments;
  -o-border-radius: @arguments;
  border-radius: @arguments;
}

