.scroll(){
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
      width: 0px; 
    }
    &::-webkit-scrollbar-thumb{
      background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb{
      background: #c8ced6;
    }
}

.select(@sel) {
  -webkit-user-select: @sel;
  -moz-user-select: @sel;
  -o-user-select:@sel;
  user-select:@sel;
}

.rotate(@rotate){
  -moz-transform:rotate(@rotate); 
  -webkit-transform:rotate(@rotate);
  transform:rotate(@rotate);
}

.transition(...){
    -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}