#container{
  #searchDiv{
    .select(none);
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    #searchContent{
      position: absolute;
      overflow: hidden;
      top:24px;
      left:25px;
      right:60px;
      border:  1px solid #ccc;
      padding-left: 4px;
      .radius(20px);
      background-color: rgba(255,255,255,0.45);
    }
    #search-button{
      position:absolute;
      right: 64px;
      font-size:1.1em;
      color: #999;
      top: 27px;
      z-index: 10;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: rgb(241,241,241);
      padding-left: 4px;
      &:hover{
        color: #555;
        cursor: pointer;
      }
    }
    #qrcode-button{
      float: right;
      color: #999;
      position: absolute;
      top: 13px;
      right: 10px;
      width: 30px;
      height:30px;
      font-size: 30px;
      z-index: 10;
      &:hover{
        color: #555;
        right: 10px;
        cursor: pointer;
      }
      &:active{
        color: #777;
      }
    }
     .qrcode-container{
      z-index:98;
      position:absolute;
      top: 68px;
      right: 25px;
      width:170px;
      height:210px;
      border: 1px solid #999;
      border-radius:6px;
      .qrcode-triangle{
        position: absolute;
        display:block;
        width:0px;
        height:0px;
        right:10px;
        border:11px;
        overflow:hidden;
        border-style: dashed dashed solid;
        &.qrcode-down{
          top:-22px;
          border-color: transparent transparent #999;
          z-index: 10;
        }
        &.qrcode-top{
          top:-21px;
          border-color: transparent transparent #fff;
          z-index:11;
        }
      }
      .qrcode-title{
        position:absolute;
        top: 0;
        width:100%;
        padding:5px 3px;
        height: 40px;
        font-size:20px;
        font-weight: bold;
        background-color:#fff;
        border-bottom:1px solid #999;
        border-radius:6px 6px 0 0;
        text-align: center;
        line-height: 40px;
      }
      .qrcode-content{
        position:absolute;
        width: 100%;
        top: 40px;
        bottom: 0;
        background-color:#fff;
        border-radius:6px;
        text-align: center;
        canvas{
          margin-top: 10px; 
        }
      }
    }
  }
}

#search_input{
  width: 1900px;
  line-height: 17px;
}