.tag-container{
  position: absolute;
  width:80px;
  height:20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 222;

  .transition(right, 0.5s);
  &.rotate{
    right:-45px;
    .rotate(-15deg);
    &:hover{
      right:-55px;
    }
    &.no-rotate{
      right:-85px;
      .rotate(0deg);
    }
  }
  div{
    position: absolute;
    top:0px;
  }
  .tag-text{
    width:100%;
    height: 100%;
    line-height: 20px;
    padding: 0 10px;
    opacity: 1.0;
    z-index: 223;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tag-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 20px;
  }
  .tag-triangle{
    &:after{
    font-family: 'icomoon';
    content: "\e61e";
    font-size: 1em;
    position: absolute;
    left:-10px;
    top: -20px;
    width:20px;
    height: 20px;
    //color: red;
    }
    //font-weight: 20px;
    //border-radius: 50%;
    &.right-triangle{
      left:80px;
      top:20px;
      position: absolute;
    }
    &.left-triangle{
      //left:-10px;
      .rotate(180deg);
    }
   -webkit-transition:-webkit-transform 0.5s;
   -moz-transition: -moz-transform 0.5s;
   -ms-transition: -ms-transform 0.5s;
   -o-transition: -o-transform 0.5s;
   transition: transform 0.5s;
  }
}