.tag-container{
  position: absolute;
  width:80px;
  height:20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 222;

  .transition(right, 0.5s);
  &.rotate{
    right:-30px;
    .rotate(-15deg);
    &:hover{
      right:-50px;
    }
    &.no-rotate{
      right:-80px;
      .rotate(0deg);
    }
  }
  div{
    position: absolute;
    top:0px;
  }
  .tag-text{
    width:100%;
    height: 100%;
    line-height: 20px;
    padding: 0 10px;
    opacity: 1.0;
    z-index: 223;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tag-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 20px;
  }
  .tag-triangle{
    &:after{
    font-family: 'icomoon';
    content: "\e61e";
    font-size: 1em;
    position: absolute;
    width:20px;
    height: 20px;
    }
    left:40px;
    &.right-triangle{
      left:70px;
      top: 0px;
      position: absolute;
    }
    &.left-triangle{
      position: absolute;
      left:10px;
      top: 20px;
      .rotate(180deg);
    }
    .transition(left,1s);
  }
}